@page "/about"

<PageTitle>About Us</PageTitle>

<div class="about-card">
	<div class="page-heading">
		<h1>About Us</h1>
	</div>

	<div class="about-info">
		<p>
			Welcome to <strong>LiveBlip</strong>, a GPS tracking service created by a team of
			developers from <strong>IIE MSA</strong>. <br>
			<br>
			LiveBlip was created for <strong>Marc d’Hotman</strong> from
			<strong>Ithegi Electronics</strong><br>
			<br>
			Created by Aidan Venter, Robert Burston, Ciaran Mc Cabe,
			Nefale Nefale and Greg Kalunta.
		</p>
	</div>
</div>
