@page "/contact"

<PageTitle>Contact Us</PageTitle>

<div class="contact-card">
	<div class="page-heading">
		<h1>Contact Us</h1>
	</div>

	<div class="contact-info">
		<div class="contact-info-card">
			<a href="tel:011-595-9730"><img src="images/phone.png" class="contact-image"/></a>
			<p class="contact-text">(011) 595 9730</p>
		</div>

		<div class="contact-info-card">
			<a href="mailto:liveblip@ithegi.co.za">
				<img src="images/email.png" class="contact-image"/>
			</a>
			<p class="contact-text">liveblip@ithegi.co.za</p>
		</div>

		<div class="contact-info-card">
			<a href="https://maps.app.goo.gl/q9DRmHqSRhYKuXKg7">
				<img src="images/location.png" class="contact-image"/>
			</a>
			<p class="contact-text">91 Vlagskip St, Laser Park, Roodepoort, 2040</p>
		</div>
	</div>
</div>
