@page "/contact"

<PageTitle>Contact Us</PageTitle>

<div class="d-flex justify-content-center">
	<h1>Contact Us</h1>
</div>

<div class="py-5 content-primary d-flex justify-content-center">
	<p>
		Tel: 012 345 6789 <br>
		Email:  liveblip@ithegi.co.za <br>
		Address: Vlagskip St, Laser Park, Roodepoort, 2040
	</p>
</div>
