@page "/home"

<PageTitle>Home</PageTitle>

<div class="py-2">
	<h1>Home</h1>
</div>

<div class="container-fluid px-0">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta ornare neque, a pretium risus ultricies sed. Sed et varius nisl, at lobortis arcu. Vivamus varius eros justo, a aliquet tellus cursus sed. Praesent ac leo ligula. Pellentesque in euismod eros. Fusce elit sem, faucibus at neque sed, sollicitudin finibus lacus. Aliquam erat volutpat. In in vehicula turpis. Suspendisse sagittis, ipsum id sollicitudin dignissim, turpis nunc blandit libero, in egestas diam purus quis ipsum. Donec et lacus tortor.

		Etiam mollis efficitur augue ac sagittis. Cras id sapien nec nibh maximus convallis in sed magna. Ut risus arcu, aliquet malesuada tortor eu, tristique pretium mauris. Phasellus dignissim, dui vitae efficitur mollis, leo sapien mattis nisl, volutpat ornare ipsum urna sed sem. Integer vitae luctus massa. Integer facilisis, sem in elementum tempus, nibh justo tempor diam, non elementum nulla mauris ac ante. Suspendisse potenti. Integer feugiat convallis metus, eu tristique enim porta vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

		Cras quis lobortis nunc. Praesent in tellus in odio venenatis convallis. Nullam sit amet arcu massa. Sed volutpat quam est, ultrices sollicitudin lectus lacinia eu. Integer ut libero et tellus aliquam blandit a sed justo. Praesent mollis convallis lorem, sit amet laoreet tellus finibus sed. Proin rhoncus erat vitae odio luctus, non faucibus libero bibendum. Ut sollicitudin nulla at euismod accumsan. Maecenas dictum dignissim est et vestibulum. Quisque vulputate maximus ipsum vel hendrerit.

		Integer pulvinar lectus eu eros interdum luctus. Praesent malesuada elit ac arcu imperdiet placerat. Aenean tempor nisi sit amet libero interdum, sed interdum purus sodales. Fusce elementum efficitur molestie. Nunc vitae vestibulum velit. Sed at feugiat erat, non tempus nisl. Praesent sed dolor enim.

		Suspendisse gravida efficitur risus. Cras gravida mauris eget purus euismod, cursus pulvinar sapien eleifend. Sed ex purus, congue et rhoncus non, auctor non est. Phasellus eu velit luctus sapien faucibus volutpat at sit amet velit. Etiam hendrerit, leo et vehicula congue, nisl mi ullamcorper arcu, sed suscipit quam mauris sed metus. Nulla posuere nulla sed ultricies efficitur. Duis ex tellus, scelerisque non maximus non, luctus at felis. Nunc ornare maximus libero vitae vehicula. Cras elementum ut risus eget ultrices. Nulla rutrum quam id lorem mattis lobortis ac eget erat. Nunc auctor magna eget porta gravida. Nam luctus, lacus id venenatis aliquet, orci ligula gravida dolor, at laoreet tellus urna at lacus.
	</p>
</div>
