@page "/welcome"
<head>
<PageTitle>Welcome</PageTitle>
</head>
<body>

<div class="welcometxt" style="text-align: center;">
	<h1 style="font-size: 150px">Welcome</h1>
	<h2 style="font-size: 50px">To LiveBlip!</h2>

	<a href = "#">
		<button height="350" width="350"> Get Started</button>
	</a>
</div>

</body>
