@page "/welcome"

<PageTitle>Welcome</PageTitle>

<div class="welcome-card">
	<div class="page-heading">
		<h1>Welcome to</h1>
		<img src="images/logo.png" class="logo"
	</div>

	<div class="input-imei">
		<input type="text" class="form-control-imei" placeholder="Please input tracker IMEI" />
	</div>

	<div class="submit-imei">
		<a href="/"><button type="submit" class="submit-imei-button">Track</button></a>
	</div>
</div>
