/* general styles ------------------------------------------------------------------------------- */
/* dark mode styles */
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* page headings */
.page-heading {
	display: flex;
	justify-content: center;
}

/* navbar --------------------------------------------------------------------------------------- */

/* welcome page --------------------------------------------------------------------------------- */
.welcome-card {
	width: 100%;

    max-width: 600px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	padding: 20px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #666666;
    border-radius: 20px;

    background-color: #3f3f3f;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
	backdrop-filter: blur(50px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	transform: translate(0%, 40%);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.logo {
	height:10%;
	width:30%;
	padding-top: 2.4%;
}

.form-control-imei {
	width: 300px;
	height: 40px;

	border-radius: 10px;
	margin-bottom: 10px;

	background-color: #161515;
	color: #fff;
}

.submit-imei {
	padding-top: 10px;

	display: flex;
	justify-content: center;
}

.submit-imei-button {
	width: 100px;

	padding: 10px;
	border: none;
	border-radius: 10px;

	background-color: #f51414;

	color: #fff;

	cursor: pointer;
}

/* sign in page --------------------------------------------------------------------------------- */
::placeholder {
    color: #dd7979; /* Bright white color */
    opacity: 1;
}

.form-control-username, .form-control-password, .btn-primary {
    width: 100%;
	height: 30px;
    max-width: 400px;
    border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-control-username, .form-control-password {
    margin-bottom: 30px;
    background-color: #242323;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-primary {
	width: 106%;
    justify-content: center;
    display: flex;
    background-color: #f51414;
    border-color: #f51414;
	transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow */
	color: #fff;
}

.btn-primary:hover {
    background-color: #940a0a;
    border-color: #940a0a;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #940a0a;
    border-color: #940a0a;
    outline: none; /* Removes the default blue outline */
    box-shadow: 0 0 0 3px rgba(149, 10, 10, 0.5); /* Adds a custom focus shadow */
}

.text-danger {
	color:#f51414;
	padding-bottom: 10%;
}

.invalid-uname-pword {
	color:#f51414;
	padding-bottom: 10%;
	display: flex;
	justify-content: center;

}

.login-form {
	backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border: 1px solid #666666;
    border-radius: 20px;
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
	transform: translate(0%, 40%);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
}

.signin-heading {
    padding-top: -10%;
	padding-bottom: 5%;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-heading {
    padding-top: -10%;
	padding-bottom: 5%;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row3-forget {
    display: flex;
    justify-content: center;
    color: #fff;
}

.forget-redirect {
    color: #ffffff;
}

.row4-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row5-col2, .register-redirect {
    justify-content: center;
    align-items: center;
    display: flex;
}

.account-sign {
	justify-content: center;
	display: flex;
}

.register-redirect {
    padding-bottom: 10px;
	color: #ffffff;
}

/* contact page --------------------------------------------------------------------------------- */
.contact-card {
    width: 100%;

    max-width: 600px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	padding: 20px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #666666;
    border-radius: 20px;

    background-color: #3f3f3f;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
	backdrop-filter: blur(50px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	transform: translate(0%, 40%);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.contact-info {
	background-color: #3f3f3f;
	backdrop-filter: blur(50px);

	display: flex;
	justify-content: space-evenly;
}

.contact-info-card {
	width: 30%;
}

.contact-image {
	width: 64px;
	height: 64px;

	margin-top: 10px;
	margin-left: calc(50% - 32px);
	margin-right: calc(50% - 32px);
	margin-bottom: 20px;
}

.contact-text {
	width: 100%;

	margin-bottom: 10px;

	text-align: center;
	text-wrap: wrap;
}

/* about page ----------------------------------------------------------------------------------- */
.about-card {
    width: 300px;

    max-width: 600px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	padding: 20px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #666666;
    border-radius: 20px;

    background-color: #3f3f3f;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
	backdrop-filter: blur(50px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	transform: translate(0%, 40%);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.about-info {
	background-color: #3f3f3f;
	backdrop-filter: blur(50px);

	text-align: center;
}

.profile-settings-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;

    background-color: #353535;
    border: 1px solid #d1d5da;
	color: #fff;
    border-radius: 20px;

	transform: translate(0%, 20%);
}

.profile-settings-container h2 {
    margin-bottom: 20px;
    font-size: 24px;

    color: #ffffff;
	display: flex;
	justify-content: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.form-group .form-control {
    width: 100%;
    padding: 10px;

    border: 1px solid #ffffff;
    border-radius: 4px;
	background-color: #242323;
	color: #ffffff;
	border-radius: 20px;
}

.form-group .form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 0 3px rgba(214, 3, 3, 0.3);
    outline: none;
}

.btn-save {

    display: flex;
	justify-content: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #f51414;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
	width: 104%;
}

.btn-save:hover {
    background-color: #940a0a;
}

/* Add a media query to adjust the navbar layout for smaller devices */
@media screen and (max-width: 576px) {
	.navbar-links {
		flex-direction: column; /* Stack navbar links vertically */
		align-items: stretch; /* Stretch navbar links to fill the entire width */
	}

	.navbar-link {
		margin-bottom: 10px; /* Add some spacing between navbar links */
	}
}


/* media queries -------------------------------------------------------------------------------- */
/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
	.form-control-imei {
		width: 100px;

		border-radius: 10px;
		margin-bottom: 10px;
	}

	.contact-info {
		flex-direction: column;
	}

	.contact-info-card {
		width: 60%;

		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;

		height: auto;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .form-control-username, .form-control-password, .btn-primary {
        max-width: 350px;
    }

    .login-card {
        max-width: 450px;
    }

    .login-form {
        max-width: 450px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .form-control-username, .form-control-password, .btn-primary {
        max-width: 400px;
    }

    .login-card {
        max-width: 500px;
    }

    .login-form {
        max-width: 500px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .form-control-username, .form-control-password, .btn-primary {
        max-width: 450px;
    }

    .login-card {
        max-width: 550px;
    }

    .login-form {
        max-width: 550px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .form-control-username, .form-control-password, .btn-primary {
        max-width: 500px;
    }

    .login-card {
        max-width: 500px;
    }

    .login-form {
        max-width: 500px;
    }
}
