<nav>
	<NavLink class="navbar-brand">LiveBlip</NavLink>

	<div class="navbar-links">
		<NavLink class="navbar-link" href="#">Home</NavLink>
		<NavLink class="navbar-link" href="contact">Contact Us</NavLink>
		<NavLink class="navbar-link" href="about">About Us</NavLink>
		<NavLink class="navbar-link" href="account">Account</NavLink>
	</div>
</nav>
