<div class="container-fluid px-3">
	<nav class="navbar navbar-expand justify-content-between">
		<NavLink class="navbar-brand" href="#">LiveBlip</NavLink>

		<div class="navbar-nav justify-content-end">
			<NavLink class="nav-link" href="#">Home</NavLink>
			<NavLink class="nav-link" href="contact">Contact Us</NavLink>
			<NavLink class="nav-link" href="about">About Us</NavLink>
			<NavLink class="nav-link" href="account">Account</NavLink>
		</div>
	</nav>
</div>
